In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [49]:
driver = webdriver.Chrome(r'C:\Users\jha9001\Downloads\chromedriver_win32\chromedriver.exe')

In [50]:
driver.maximize_window()

In [8]:
#QUESTION 1

In [9]:
url = ('https://www.naukri.com/')
driver.get(url)

In [10]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [11]:
Loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
Loc.send_keys('Bangalore')

In [12]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
job=[]
job_link = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in job_link:
    job.append(i.text)
len(job)

20

In [14]:
company = []
for i in driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']"):
    company.append(i.text.split('\n')[0])
len(company)

20

In [15]:
loc=[] 
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']"):
    loc.append(i.text)
len(loc)

20

In [16]:
exp=[]
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']"):
    exp.append(i.text)
len(exp)

20

In [19]:
table = pd.DataFrame({'job-title':job,
                    'job-location':loc,
                    'company_name':company,
                    'experience_required':exp
                    })

In [20]:
table_final = table.head(10)

In [40]:
table_final

,job-title,job-location,company_name,experience_required
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
2,Senior Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Groundtruth,5-8 Yrs
3,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
4,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
5,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bsharp,1-3 Yrs
8,Sr. Data Analyst (SAS Data Management),"Bangalore/Bengaluru, New Delhi",NMS Consultant,5-10 Yrs
9,Lead Data Analyst,Bangalore/Bengaluru,SVB Global Services India Llp,8-13 Yrs

In [21]:
#QUESTION 2

In [22]:
url = ('https://www.naukri.com/')
driver.get(url)

In [23]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [24]:
Loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
Loc.send_keys('Bangalore')

In [25]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [26]:
job=[]
job_link = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in job_link:
    job.append(i.text)
len(job)

20

In [27]:
loc=[] 
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']"):
    loc.append(i.text)
len(loc)

20

In [28]:
company = []
for i in driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']"):
    company.append(i.text.split('\n')[0])
len(company)

20

In [29]:
table = pd.DataFrame({'job-title':job,
                    'job-location':loc,
                    'company_name':company,
                    'experience_required':exp
                    })

In [30]:
table_final = table.head(10)

In [31]:
table_final

,job-title,job-location,company_name,experience_required
0,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc,0-2 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,0-2 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree,2-5 Yrs
3,"Assistant Manager - Data Science, Need Immedia...","Hybrid - Bangalore/Bengaluru, Pune, Gurgaon/Gu...",Citiustech,5-10 Yrs
4,Data Scientist - Noida/Bangalore,"Bangalore/Bengaluru, Noida",EXL,3-8 Yrs
5,Data Scientist,Bangalore/Bengaluru,Infosys,5-8 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,Visa,5-10 Yrs
7,Consulting and Analytics,Bangalore/Bengaluru,Visa,2-7 Yrs
8,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro,2-7 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair,5-10 Yrs

In [32]:
#QUESTION 3

In [33]:
url = ('https://www.naukri.com/')
driver.get(url)

In [34]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [35]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [36]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
loc.click()

In [37]:
sal = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
sal.click()

In [38]:
job=[]
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    job.append(i.text)
len(job)

13

In [39]:
loc=[] 
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']"):
    loc.append(i.text)
len(loc)

13

In [40]:
company = []
for i in driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']"):
    company.append(i.text.split('\n')[0])
len(company)

13

In [41]:
exp=[]
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']"):
    exp.append(i.text)
len(exp)

13

In [42]:
table = pd.DataFrame({'job-title':job,
                    'job-location':loc,
                    'company_name':company,
                    'experience_required':exp
                    })

In [43]:
table_final = table.head(10)

In [44]:
table_final

,job-title,job-location,company_name,experience_required
0,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
4,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
5,Jr. Data Scientist,Noida,Dataflow,1-3 Yrs
6,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
8,Data Scientist,Noida,Meon Technologies,2-5 Yrs
9,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs

In [88]:
#QUESTION 4

In [118]:
url = ('https://www.flipkart.com/')
driver.get(url)

In [119]:
search = driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sunglasses')

In [120]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [121]:
brand = []
desc = []
price = []
offer = []

In [122]:
for i in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_2B099V']"):
    desc.append(i.text.split('\n')[1])
for i in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']"):
    offer.append(i.text)

In [133]:
page = driver.find_element(By.CLASS_NAME,'_1LKTO3')
page.click()

In [134]:
for i in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_2B099V']"):
    desc.append(i.text.split('\n')[1])
for i in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']"):
    offer.append(i.text)

In [135]:
page = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
page.click()

In [136]:
for i in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
    brand.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_2B099V']"):
    desc.append(i.text.split('\n')[1])
for i in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']"):
    offer.append(i.text)

In [137]:
table = pd.DataFrame({'Brand':brand,
                    'Product Description':desc,
                    'Price':price,
                    'Offer %':offer
                    })

In [138]:
Table_final = table.head(100)
Table_final

,Brand,Product Description,Price,Offer %
0,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹474,76% off
1,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹296,85% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹479,40% off
4,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
...,...,...,...,...
95,LIZA ANGEL,"Riding Glasses, UV Protection, Night Vision Sp...",₹179,64% off
96,Fair-x,UV Protection Aviator Sunglasses (58),₹227,77% off
97,ROZZETTA CRAFT,"Polarized, UV Protection Rectangular Sunglasse...",₹569,77% off
98,Elligator,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹197,83% off
99,Fastrack,UV Protection Shield Sunglasses (Free Size),₹539,40% off

In [ ]:
#QUESTION 5

In [63]:
rating = []
small = []
full = []

In [68]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page='
for j in range(1,13):
    driver.get(url+str(j))
    for i in driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(i.text)
    for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        small.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
        full.append(i.text)

In [69]:
len(rating),len(small),len(full)

(224, 232, 232)

In [70]:
table = pd.DataFrame({'Rating':rating,
                    'Review Summary':small,
                    'Full Review':full
                    })

ValueError: All arrays must be of the same length

In [ ]:
Table_final = table.head(100)
Table_final

In [ ]:
#QUESTION 6

In [71]:
url = ('https://www.flipkart.com/')
driver.get(url)

In [72]:
search = driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sneakers')

In [73]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [108]:
brand = []
desc = []
price = []
offer = []

In [109]:
url = 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='
for j in range(1,5):
    driver.get(url+str(j))
    for i in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
        brand.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='_2B099V']"):
        desc.append(i.text.split('\n')[1])
    for i in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
        price.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']"):
        offer.append(i.text)

In [111]:
len(brand),len(desc),len(price),len(offer)

(160, 160, 160, 159)

In [113]:
table = pd.DataFrame({'Brand':brand,
                    'Product Description':desc,
                    'Price':price,
                    'Offer %':offer
                    })

In [114]:
Table_final = table.head(100)
Table_final

          Brand                                Product Description   Price
0   COOPERWINGS                                   Sneakers For Men    ₹399
1     Deals4you                                 Sneakers For Women    ₹299
2          aadi  Mesh | Ultralightweight | Comfortable | Breath...    ₹299
3        Labbin                                   Sneakers For Men    ₹395
4        BRUTON               Modern Trendy Shoes Sneakers For Men    ₹229
..          ...                                                ...     ...
95       RINDAS  Perfect Stylish Casual Shoes For Girls & Women...    ₹298
96        Zixer  Sneakers Dancing Shoes/Street Dancing Shoe For...    ₹565
97        Zixer  Exclusive dancing shoe for boy's, Funky dancin...    ₹565
98       BRUTON  Modern & Trendy Collection Combo Pack of 02 Sh...    ₹470
99  bacca bucci  ILLUSION Hi-Top Street Fashion Sneakers with R...  ₹1,799

[100 rows x 3 columns]

In [ ]:
#QUESTION 7

In [124]:
url = ('https://www.myntra.com/shoes')
driver.get(url)

In [128]:
price = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price.click()

In [127]:
colour = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
colour.click()

In [129]:
brand = []
desc = []
price = []

In [130]:
for j in range(1,5):
    for i in driver.find_elements(By.XPATH,"//h3[@class='product-brand']"):
        brand.append(i.text)
    for i in driver.find_elements(By.XPATH,"//h4[@class='product-product']"):
        desc.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='product-price']"):
        price.append(i.text)

In [131]:
len(brand),len(desc),len(price)

(200, 200, 200)

In [132]:
table = pd.DataFrame({'Brand':brand,
                    'Product Description':desc,
                    'Price':price
                    })

In [133]:
Table_final = table.head(100)
Table_final

,Brand,Product Description,Price
0,UNDER ARMOUR,Unisex Spawn 4 Basketball,Rs. 8799Rs. 10999(20% OFF)
1,ADIDAS Originals,Men Woven Nmd_R1 Sneakers,Rs. 12999
2,Nike,JORDAN MAX AURA 4 Shoes,Rs. 10165Rs. 11295(10% OFF)
3,Nike,Men Jumpman Basketball Shoes,Rs. 12595Rs. 13995(10% OFF)
4,Xtep,Men Skateboarding Shoes,Rs. 8599
...,...,...,...
95,ADIDAS,Men Runner Fl Running Shoes,Rs. 12749Rs. 14999(15% OFF)
96,ALDO,Women Solid Lug Boots,Rs. 13999
97,ADIDAS,Men Response Super 3.0 Run,Rs. 8099Rs. 8999(10% OFF)
98,Nike,Women AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
99,Puma,Men Velocity Running Shoes,Rs. 7799Rs. 11999(35% OFF)

In [ ]:
#QUESTION 8

In [145]:
url = ('https://www.amazon.in/')
driver.get(url)

In [149]:
search = driver.find_element(By.CLASS_NAME,'nav-fill')
search.send_keys('Laptop')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=107.0.5304.107)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E6ACD3+2075859]
	Ordinal0 [0x00DFEE61+1633889]
	Ordinal0 [0x00CFB680+571008]
	Ordinal0 [0x00D2647E+746622]
	Ordinal0 [0x00D25B5A+744282]
	Ordinal0 [0x00D4731C+881436]
	Ordinal0 [0x00D215BF+726463]
	Ordinal0 [0x00D47534+881972]
	Ordinal0 [0x00D5B56A+963946]
	Ordinal0 [0x00D47136+880950]
	Ordinal0 [0x00D1FEFD+720637]
	Ordinal0 [0x00D20F3F+724799]
	GetHandleVerifier [0x0111EED2+2769538]
	GetHandleVerifier [0x01110D95+2711877]
	GetHandleVerifier [0x00EFA03A+521194]
	GetHandleVerifier [0x00EF8DA0+516432]
	Ordinal0 [0x00E0682C+1665068]
	Ordinal0 [0x00E0B128+1683752]
	Ordinal0 [0x00E0B215+1683989]
	Ordinal0 [0x00E16484+1729668]
	BaseThreadInitThunk [0x75ECFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77797BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77797B8E+238]

In [150]:
search = driver.find_element(By.CLASS_NAME,'nav-right')
search.click()

In [185]:
brand = []
rating = []
price = []

In [186]:
for i in driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']"):
    if len(brand)<10:
        brand.append(i.text)
for k in driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']"):
    if len(rating)<10:
        rating.append(k.text)
for l in driver.find_elements(By.XPATH,"//span[@class='a-price-whole']"):
    if len(price)<10:
        price.append(l.text)

In [187]:
len(brand),len(rating),len(price)

(10, 10, 10)

In [188]:
table = pd.DataFrame({'Brand':brand,
                    'Rating':rating,
                    'Price':price
                    })

In [189]:
table

                                               Brand Rating     Price
0  Acer Aspire 3 (AMD Ryzen 3-3250U/ 8GB/ 256 GB ...           29,990
1  Acer Extensa 15 Lightweight Laptop 11th Gen In...           32,990
2  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...           27,140
3  (Renewed) Lenovo Thinkpad L450 5th Gen Intel C...           16,999
4  (Renewed) Dell Latitude E5470 Intel Core i5 6t...           19,494
5  HP Spectre x360 11th Gen Intel Core i7 13.3 in...           39,820
6  LG Gram Intel Evo 11th Gen Core i7 17"(43cm)Ul...         1,42,000
7  Dell New XPS 9310 Intel Evo i5-1135G7 13.4 Inc...           93,000
8  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...         1,07,117
9  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...           25,790

In [ ]:
#QUESTION 9

In [205]:
url = ('https://www.azquotes.com/')
driver.get(url)

In [208]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [209]:
quote = []
author = []
qtype = []

In [210]:
url = 'https://www.azquotes.com/top_quotes.html?p='
for h in range(0,15):
    driver.get(url+str(h))
    for i in driver.find_elements(By.XPATH,"//a[@class='title']"):
        if len(quote)<1000:
            quote.append(i.text)
    for k in driver.find_elements(By.XPATH,"//div[@class='author']"):
        if len(author)<1000:
            author.append(k.text)
    for l in driver.find_elements(By.XPATH,"//div[@class='tags']"):
        if len(qtype)<1000:
            qtype.append(l.text)

In [211]:
len(quote),len(author),len(qtype)

(1000, 1000, 1000)

In [212]:
table = pd.DataFrame({'Quote':quote,
                    'Author':author,
                    'Type':qtype
                    })

In [213]:
table

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,To love means loving the unlovable. To forgive...,Gilbert K. Chesterton,"Love, Inspirational, Success"
996,"If you really want to do something, you'll fin...",Jim Rohn,"Inspirational, Motivational, Success"
997,Be brave. Take risks. Nothing can substitute e...,Paulo Coelho,"Encouraging, Courage, Inspiration"
998,It is neither wealth nor splendor; but tranqui...,Thomas Jefferson,"Life, Happiness, Work"
999,A thousand words will not leave so deep an imp...,Henrik Ibsen,"Inspirational, Inspiring, Positivity"

In [214]:
#QUESTION 10

In [51]:
url = ('https://www.jagranjosh.com/')
driver.get(url)

In [52]:
search1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search1.click()

In [53]:
search2 = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search2.click()

In [122]:
name = []
born = []
term = []
remark = []

In [123]:
for i in driver.find_elements(By.XPATH,"//div[@class='table-box']"):
    name.append(i.text.split('\n')[6::6])
for i in driver.find_elements(By.XPATH,"//div[@class='table-box']"):
    born.append(i.text.split('\n')[7::6])
for i in driver.find_elements(By.XPATH,"//div[@class='table-box']"):
    term.append(i.text.split('\n')[8::6])
for i in driver.find_elements(By.XPATH,"//div[@class='table-box']"):
    remark.append(i.text.split('\n')[10::6])

In [124]:
name

[[' 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years'],
 []]

In [112]:
len(name),len(born),len(term),len(remark)

(2, 2, 2, 2)

In [114]:
table = pd.DataFrame({'Name':name,
                    'Born-death':born,
                    'Term of office':term,
                      'Remarks':remark
                    })

In [115]:
table

,Name,Born-death,Term of office,Remarks
0,"[Jawahar Lal Nehru, Gulzarilal Nanda (Acting),...","[(1889–1964), (1898-1998), (1904–1966), (1898-...","[15 August 1947 to 27 May 1964, 27 May 1964 to...",[The first prime minister of India and the lon...
1,[],[],[],[]

In [113]:
#QUESTION 11

In [125]:
url = ('https://www.motor1.com/')
driver.get(url)

In [126]:
menu = driver.find_element(By.CLASS_NAME,'m1-hamburger-button')
menu.click()

In [127]:
list1 = driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list1.click()

In [128]:
list2 = driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
list2.click()

In [176]:
company = []
model = []
price = []

In [179]:
for i in driver.find_elements(By.XPATH,"//div[@class='postContent content-wrapper']"):
    company.append(i.text.split('\n')[5:155:6])
company

[['Drako GTE',
  'Ferrari LaFerrari',
  'McLaren Elva',
  'Ferrari Monza',
  'Koenigsegg Gemera',
  'Hennessey Venom F5',
  'Hispano Suiza Carmen Boulogne',
  'Deus Vayanne',
  'Lotus Evija',
  'Delage D12',
  'Rimac Nevera',
  'Pininfarina Battista',
  'Gordon Murray T.50',
  'Mercedes-AMG Project One',
  'Hennessey Venom F5 Roadster',
  'Aston Martin Valkyrie',
  'McLaren Solus',
  'Bugatti Chiron Pur Sport',
  'Koenigsegg CC850',
  'Lamborghini Veneno',
  'Bugatti Mistral',
  'Bugatti Divo',
  'Pagani Codalunga',
  'Bugatti Centodieci',
  'Bugatti La Voiture Noire']]

In [177]:
for i in driver.find_elements(By.XPATH,"//div[@class='postContent content-wrapper']"):
    model.append(i.text.split('\n')[6:155:6])
model

[['Price: $1.2 Million',
  'Price: $1.4 Million',
  'Price: $1.7 Million',
  'Price: $1.7 Million',
  'Price: $1.7 Million',
  'Price: $1.8 Million',
  'Price: $1.9 Million',
  'Price: $2.0 Million',
  'Price: $2.1 Million',
  'Price: $2.3 Million',
  'Price: $2.4 Million',
  'Price: $2.5 Million',
  'Price: $2.6 Million',
  'Price: $2.7 Million',
  '$3.0 Million',
  'Price: $3.2 Million',
  '$3.5 Million',
  'Price: $3.6 Million',
  'Price: $3.7 Million',
  'Price: $4.5 Million',
  'Price: $5.0 Million',
  'Price: $5.8 Million',
  'Price: $7.4 Million',
  'Price: $9.0 Million',
  'Price: $13.4 Million']]

In [180]:
len(company),len(model)

(1, 1, 0)

In [181]:
table = pd.DataFrame({'Brand & Model':company,
                    'Price':model
                    })

In [182]:
table

,Brand & Model,Price
0,"[Drako GTE, Ferrari LaFerrari, McLaren Elva, F...","[Price: $1.2 Million, Price: $1.4 Million, Pri..."

In [183]:
company.split(',')

AttributeError: 'list' object has no attribute 'split'